.card {
  background: #fff;
  border-radius: 12px;
  padding: 18px;
  margin: 20px auto;
  max-width: 700px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: left;
  min-width: 500px; /* 🔥 nunca fica estreito demais */
  flex: 1;
  position:absolute !important;
  align-items: center;
}

.textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-family: monospace;
  font-size: 14px;
  resize: none;
}

.textarea:focus {
  outline: none;
  border-color: #888;
}

.feedback {
  font-weight: bold;
  margin-top: 12px;
}
.progressContainer {
  position: sticky;
  top: 20px;
  z-index: 10;
  width: 100%;
  max-width: 500px;
  background: #f9fafb;
  border: 2px solid #868686;
  border-radius: 1em;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 20px;
  margin: 20px auto;
  padding: 4px;
  backdrop-filter: blur(6px);
}

.progressBar {
  height: 100%;
  width: 0%;
  background: linear-gradient(135deg, #5de34e, #1abb09);
  border-radius: 10px;
  transition: width 0.5s ease;
}