.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #f1f1f1;
  margin-bottom: 2rem;
}

.startButton {
  background-color: #16a34a;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.startButton:hover {
  background-color: #15803d;
  transform: scale(1.05);
}
