.container {
  background: #d8f1f5; 
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.title {
  color: #00ddfa; /* verde escuro */
  font-size: 2rem;
  font-weight: bold;
}

.card {
  background: #fff;
  border-left: 6px solid #00ddfa;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.btn {
  background: #00ddfa;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #018a9c;
}