.container {
  width: 100%;
  padding: 20px;
  text-align: center;
  background:linear-gradient(135deg, #f1f1f1, #03752b);
  min-height: 100vh;
  font-family: Arial, sans-serif;
  border-radius: 1em;
  margin: 1em;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #054d20;
  margin-bottom: 20px;
}
